<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Made by Nhi Le</title>

    {{ url_for('static', filename='style.css') }}
</head>

<body>

<nav>
    <div class="logo">Made by Nhi Le</div>

    <ul>
        <li><aboutAbout</a></li>
        <li><galleryGallery</a></li>
        <li>#customCustom Orders</a></li>
        <li><contactContact</a></li>
    </ul>
</nav>

<section class="hero">
    <div class="hero-text">
        <h1>Handcrafted Pottery & Art</h1>
        <p>
            Creating beauty one piece at a time.
            Handmade pottery inspired by everyday life,
            nature, and creativity.
        </p>
    </div>

    <div class="hero-image">
         }}"
             alt="Handmade Pottery">
    </div>
</section>

<section id="about">
    <h2>About Me</h2>
    <p>
        Hi, I'm Nhi.
        A local pottery enthusiast creating functional
        and decorative ceramics with care and passion.
    </p>
</section>

<section id="contact" class="contact-container">

    <div class="contact-text">
        <h2>Let's Create Something Special</h2>

        <p>
            Whether you're looking for a personalized mug,
            bowl, planter or gift, I'd love to hear your ideas.
        </p>
    </div>

    <div class="contact-form">

        <form>
            <input type="text" placeholder="Name">

            <input type="email" placeholder="Email">

            <input type="text" placeholder="Phone Number">

            <textarea placeholder="Tell me about your project"></textarea>

            <button type="submit">
                SEND MESSAGE
            </button>

        </form>

    </div>

</section>

</body>

</html>